/* ===== SUPPRIMER LE SOULIGNEMENT DU MENU ===== */
header#header a,
header#header a:hover,
header#header a:focus,
header#header a:active {
    text-decoration: none !important;
}

/* Couleur normale */
#mainnav .menu > li > a {
    color: #222;
}

/* Effet hover propre */
#mainnav .menu > li > a:hover {
    color: #1f3c88; /* change la couleur si tu veux */
}

